.card {
 
  color: rgb(#14A9FF);
  width: 300px;
  height: min-content;
  border: 2px solid #131313;
  border-radius: 8px;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: 
  'first' 'second' 'third';
}
.card__title {
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  color: #85DCFF;
}
.card__buttons-conteiner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__content {
  font-size: 16px;
  line-height: 1.5;
  
}

.card__button {
  margin: 3px;
  background-color: #000000;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button:hover {
  background-color: #303030;
}

.card__button-image {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

